@import "./common/style.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./index/blog-title.css";
@import "./blog-post/game-intro.css";
@import "./blog-post/author-info.css";
@import "./blog-post/sharing.css";

h1 {
    color: var(--color-title);
    text-align: center;
}

h2 {
    color: var(--color-secondary);
    text-align: left;
}

h3 {
    color: var(--color-secondary);
    text-align: left;
}

hr {
    background-color:var(--color-secondary-variant);
}

a {
    color: var(--color-secondary);
}

main {
    display: flex;
    flex-direction: column;
}

article, section {
    text-align: justify;
    margin: 3px;
    padding: 8px;
    background-color: var(--color-card-background);
}

section {
    background-color: var(--color-primary-variant);
}

#screenshot {
    margin: auto;
    width: 100%;
}

#screenshot > img {
    width: 100%;
    height: auto;
    align-self: center;
}

figcaption {
    font-size: 0.7em;
    text-align: center;
}

.game-details {
    display: flex;
    flex-direction: column;
}

#links {
    text-align: left;
}


@media (min-width: 600px) {
    #author-and-share{
        display: grid;
        grid-template-areas: "bio share";
    }

    #author-info {
        grid-area: bio;
        width: 400px;
        justify-self: left;
    }

    #sharing {
        grid-area: share;
        flex-direction: column;
        height: 110px;
        justify-self: right;
    }
}

@media (min-width: 750px) {
    #sharing {
        flex-direction: row;
        height: 30px;
    }

    #screenshot > img {
        display: block;
        width: min(100%, 1000px);
        margin: auto;
    }

    article, section {
        padding: 10px max(15px, 2vw);
    }
}