#blog-title {
    background-color: var(--color-primary);
    color: var(--color-title);
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: var(--color-primary-light) 3px 3px;
}

@media (max-width: 700px) {
    h1 > #blog-title {
        font-size: 4vw;
    }
}

@media (min-width: 900px) {
    #blog-title {
        font-size: 1.2em;
    }
}