@import "style.css";

.card-item {
    display:flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
    padding: 8px 10px 12px 8px;
    border: solid var(--color-primary);
    background-color: var(--color-card-background);
    border-radius: 20px;
    box-shadow: grey 2px 2px;
}

.game-img {
    object-fit: cover;
    width: 300px;
    height: 410px;
    max-width: 40%;
    float: left;
    margin: 5px 20px 0 5px;
}

.page-link {
    text-decoration: none;
    color: black;
}

.page-link:hover {
    opacity: 70%;
}

h2 {
    color: var(--color-title);
    text-align: center;
}

.card-line {
    background-color:var(--color-secondary-variant);
    width:80%;
}