#author-info {
    display: flex;
    flex-direction: column;
}

#author-info hr {
    width: 100%;
    height: 2px;
}

#author-data {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img aname"
    "img line-1"
    "img atitle"
    "img aparent"
    "img line-2"
    "abio abio";
    /* grid-template-areas: 
    "img abio"
    "aname abio"
    "atitle abio"
    "aparent abio"; */
    text-align: justify;
    gap: 0;
    font-size: 0.7em;
}

#author-avatar {
    grid-area: img;
    max-width: 200px;
    align-self: center;
    justify-self: center;
}

#author-name {
    grid-area: aname;
}

#line-1 {
    grid-area: line-1;
}

#author-title {
    grid-area: atitle;
}

#author-parent {
    grid-area: aparent;
}

#line-2 {
    grid-area: line-2;
}

#author-bio {
    grid-area: abio;
}