#author-info > h3 {
    line-height: 1px;
}

#author-data {
    text-align: justify;
    font-size: 0.7em;
}

#author-avatar {
    grid-area: avatar;
    max-width: min(100px, 25vw);
    align-self: center;
    justify-self: center;
    padding: 0 5px 0 0;
    float: left;
}

#author-name {
    grid-area: aname;
    font-size: 1.5em;
    text-decoration: underline;
    color: var(--color-secondary-variant);
}

#author-title, #author-org {
    color: var(--color-tertiary);
}