footer {
    background-color: var(--color-primary);
    color: var(--color-secondary-variant);
    display:flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    margin: 10px 0 0 0;
}

.subscribe-form input {
    max-width: 20vw;
}

#footer-text {
    font-size: 0.9em;
    
}