@import "../style.css";
footer {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    display:flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    margin: 10px 0 0 0;
}
