*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Charcoal */
    --color-primary: #264653;
    /* Alice Blue */
    --color-primary-variant: #d5e5ec;
    /* Flame */
    --color-secondary: #e24d28;
    /* Burnt Sienna */
    --color-secondary-variant: #e76f51;
    /* Gold */
    --color-tertiary: #a07918;

    /* Platinum */
    --color-card-background: #ebebea;

    /* Naples Yellow */
    --color-title: #f0d661;
}

body {
    background-color: #fcf8ed;
}